T1/02-nodered/PPT-MGR.json
[
    {
        "id": "e659858fb17b91ba",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "70d9c9d62886a76f",
        "type": "switch",
        "z": "e659858fb17b91ba",
        "name": "",
        "property": "player",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "machine",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 200,
        "wires": [
            [
                "6ca28d7a7e156dea"
            ],
            [
                "6f0249a411d5f84d"
            ]
        ]
    },
    {
        "id": "8f0b741ce85445d1",
        "type": "function",
        "z": "e659858fb17b91ba",
        "name": "Machine",
        "func": "msg.machine = Math.floor(Math.random()*3);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "70d9c9d62886a76f"
            ]
        ]
    },
    {
        "id": "6ca28d7a7e156dea",
        "type": "function",
        "z": "e659858fb17b91ba",
        "name": "Empate",
        "func": "msg.payload = 'Empate'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 100,
        "wires": [
            [
                "3f2988e846d3e8ab"
            ]
        ]
    },
    {
        "id": "6f0249a411d5f84d",
        "type": "function",
        "z": "e659858fb17b91ba",
        "name": "",
        "func": "if(msg.player == 0 && msg.machine == 1){\n    msg.payload = 'machine';\n}else if(msg.player == 0 && msg.machine == 2){\n    msg.payload = 'player';\n}else if(msg.player == 1 && msg.machine == 0){\n    msg.payload = 'player';\n}else if(msg.player == 1 && msg.machine == 2){\n    msg.payload = 'machine';\n}else if(msg.player == 2 && msg.machine == 0){\n    msg.payload = 'machine';\n}else if(msg.player == 2 && msg.machine == 1){\n    msg.payload = 'player';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 240,
        "wires": [
            [
                "3f2988e846d3e8ab"
            ]
        ]
    },
    {
        "id": "ecc61841ab392a9a",
        "type": "http in",
        "z": "e659858fb17b91ba",
        "name": "",
        "url": "/Piedra",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "cac88c7fe8448cf6"
            ]
        ]
    },
    {
        "id": "7baff39718cbaed3",
        "type": "http in",
        "z": "e659858fb17b91ba",
        "name": "",
        "url": "/Papel",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "5d4bd66c0bdd062b"
            ]
        ]
    },
    {
        "id": "12f6d98b0b234033",
        "type": "http in",
        "z": "e659858fb17b91ba",
        "name": "",
        "url": "/Tijera",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "f8ecdfe354a7bb7e"
            ]
        ]
    },
    {
        "id": "3f2988e846d3e8ab",
        "type": "http response",
        "z": "e659858fb17b91ba",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1120,
        "y": 180,
        "wires": []
    },
    {
        "id": "cac88c7fe8448cf6",
        "type": "function",
        "z": "e659858fb17b91ba",
        "name": "function 1",
        "func": "msg.player=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 80,
        "wires": [
            [
                "8f0b741ce85445d1"
            ]
        ]
    },
    {
        "id": "f8ecdfe354a7bb7e",
        "type": "function",
        "z": "e659858fb17b91ba",
        "name": "function 2",
        "func": "msg.player = 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 320,
        "wires": [
            [
                "8f0b741ce85445d1"
            ]
        ]
    },
    {
        "id": "5d4bd66c0bdd062b",
        "type": "function",
        "z": "e659858fb17b91ba",
        "name": "function 3",
        "func": "msg.player = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [
            [
                "8f0b741ce85445d1"
            ]
        ]
    }
]